
@page "/createpayment"
@layout CardLayout
@using System.ComponentModel.DataAnnotations
@using BlazorPaymentManagementApp.Model
@inject NavigationManager NavManager

@inject IJSRuntime JsRuntime




<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post">
            <EditForm Model="@payment" OnValidSubmit="Create">
                <DataAnnotationsValidator />

                <h2 class="text-center"><strong>Payment </strong> </h2>


                <div class="form-group">
                    <InputText id="amount" class="form-control" placeholder="Amount" @bind-Value="AmountToSend" />
                    <ValidationMessage For="@(() => payment.Amount)" />
                </div>
                <div class="form-group">
                    <InputSelect id="currency" class="form-control" @bind-Value="payment.Currency">
                        <option>RON(Default)</option>
                        @foreach (var currency in currencyList)
                        {
                            <option>@currency</option>}
                    </InputSelect>
                    <ValidationMessage For="@(() => payment.Currency)" />
                </div>
                <div class="form-group">
                    <InputText id="source" class="form-control" placeholder="Source" @bind-Value="payment.Source" />
                    <ValidationMessage For="@(() => payment.Source)" />
                </div>
                <div class="form-group">
                    <InputText id="destination" class="form-control" placeholder="Destination" @bind-Value="payment.Destination" />
                    <ValidationMessage For="@(() => payment.Destination)" />
                </div>
                <div class="form-group">
                    <InputText id="status" class="form-control" placeholder="Status" @bind-Value="payment.Status" />
                    <ValidationMessage For="@(() => payment.Status)" />
                </div>

                <div class="form-group">
                    <input class="btn btn-success btn-block" type="submit" value="Submit" />

                </div>


            </EditForm>
        </form>
    </div>
</div>



@code{ public string AmountToSend { get; set; }

    private List<string> currencyList = new List<string>()
            {
            "RON",
            "EUR",
            "GBP",
            "USD"
        };

    private Payment payment = new Payment();

    HttpClient httpClient = new HttpClient()
    {
        BaseAddress = new Uri("http://localhost:5000")
    };

    protected async Task<string> GenerateId(int length)
    {
        string cypher = "123456789";

        var random = new Random();

        string generatedId = "";

        for (int i = 0; i < length; i++)
        {
            generatedId += cypher[random.Next(cypher.Length)];
        }

        return generatedId;
    }

    protected async Task Create()
    {
        payment.Amount = float.Parse(AmountToSend);
        payment.Id = Int32.Parse(await GenerateId(4));

        await httpClient.PostAsJsonAsync<Payment>("/api/v1/payments", payment);
        NavManager.NavigateTo("payments");
    } }
