@page "/login"
@using BlazorPaymentManagementApp.Model
@using System.Text.Json
@using System.Text.Json.Serialization
@using Newtonsoft.Json
@using System.Timers
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavManager
@inject IJSRuntime JsRuntime


@*<form action="/user/@IdToFind">Blazored.LocalStorage.ILocalStorageService localStorage
        <input @bind="@IdToFind" />
        <input type="submit" value="Search" />
    </form>*@

<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post">
            <EditForm Model="@user" OnValidSubmit="LoginUser">
                <DataAnnotationsValidator />

                <h2 class="text-center"><strong>Welcome back</strong></h2>
                <div class="form-group">
                    <InputText type="text" id="Username" class="form-control" placeholder="Username" @bind-Value="user.Username" />
                    <ValidationMessage For="@(() => user.Username)" />
                </div>
                <div class="form-group">
                    <InputText type="password" id="password" class="form-control" placeholder="Password" @bind-Value="user.Password" />
                    <ValidationMessage For="@(() => user.Password)" />
                </div>
                <div class="form-group">
                    <input class="btn btn-success btn-block" type="submit" value="Submit"> <a class="already" href="/register"> Don't have an account? Register here.</a> <h5>@message2</h5><h4>@message</h4>                                                                    
                </div>


            </EditForm>
        </form>

    </div>
   
</div>








@code{
    private List<User> users;

    private static Timer aTimer;
    private string message = "";
    private string message2 = "";
    private User user = new User();

    private string username { get; set; }
    private string password { get; set; }

    HttpClient httpClient = new HttpClient()
    {
        BaseAddress = new Uri("http://localhost:5000")
    };

    protected async Task LoginUser()
    {
        //LoginClass loginObject = new LoginClass(username, password);

        username = user.Username;
        password = user.Password;

        List<string> my_request = new List<string> { username, password };

        var raspuns = await httpClient.PostAsJsonAsync<List<string>>("/api/v1/users/find", my_request);
        string returnValue = await raspuns.Content.ReadAsStringAsync();
        if (returnValue != "-1")
        {
            message2 = "";
            message = "";
            message2 += "Loged successfully !";

            await localStorage.SetItemAsync("autentificat", "1");
            await localStorage.SetItemAsync("id", returnValue);

            aTimer = new System.Timers.Timer();
            aTimer.Interval = 1000;

            // Hook up the Elapsed event for the timer. 
            aTimer.Elapsed += (sender, args) =>
            {
                NavManager.NavigateTo("/users/" + returnValue, true);
            };

            // Have the timer fire repeated events (true is the default)
            aTimer.AutoReset = true;

            // Start the timer
            aTimer.Enabled = true;

        }
        else
        {
            message = "";
            message += "Invalid credentials,try again!";

        }


    }



    protected override async Task OnInitializedAsync()
    {

        users = await httpClient.GetFromJsonAsync<List<User>>("/api/v1/users");

    }

    public class LoginClass
    {
        private string Username { get; set; }
        private string Password { get; set; }

        public LoginClass(string _username, string _password)
        {
            this.Username = _username;
            this.Password = _password;
        }
    }
}
