@page "/users/{id}"
@layout CardLayout
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using BlazorPaymentManagementApp.Model
@inject NavigationManager NavManager

@if (Id != localId && localId != null)
{
    <p>HOTOMANULE</p>
}
else
{


<div>
    @if (user == null)
    {
        <p>Loading...</p>
    }
    else
    {<div class="register-photo">
            <div class="form-container">
                <div class="image-holder"></div>
                <form method="post">

                    <h2 class="text-center"><strong>My Profile </strong> </h2>
                    <h3>Username: @user.Username</h3>
                    <h3>Email: @user.Email</h3>
                    <h3>PhoneNumber: @user.PhoneNumber</h3>
                    <h3>Address: @user.Address</h3>

                </form>
            </div>
        </div>



        <h3>Your bank accounts</h3>

        @foreach (BankAccount bankAccount in user.BankAccounts)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Account Type</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@bankAccount.BankName</td>
                        <td>@bankAccount.AccountType</td>
                        <td>@bankAccount.Balance</td>
                    </tr>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Bank Name</th>
                                <th>CvvCode</th>
                                <th>PinCode</th>
                                <th>ExpirationDate</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (Card card in bankAccount.CardList)
                            {
                                <tr>
                                    <td>@card.BankName</td>
                                    <td>@card.CvvCode</td>
                                    <td>@card.PinCode</td>
                                    <td>@card.ExpirationDate</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </tbody>
            </table>
        }




        <br />
        <br />
        <br />
    }
</div>
}
@code{

        [Parameter]
        public string Id { get; set; }

    public string localId { get; set; }

    private User user = new User();

    private BankAccount bankAccount = new BankAccount();

    private bool IsHidden { get; set; }

    HttpClient httpClient = new HttpClient()
    {
        BaseAddress = new Uri("http://localhost:5000")
    };

    protected async void logout()
    {
        await localStorage.RemoveItemAsync("autentificat");
        await localStorage.RemoveItemAsync("id");

        NavManager.NavigateTo("/");
    }

    protected override async Task OnInitializedAsync()
    {
        localId = await localStorage.GetItemAsStringAsync("id");
        user = await httpClient.GetFromJsonAsync<User>("/api/v1/users/" + Id);
    }
}

